<div class="grid_8 alpha">
  <%= semantic_form_for(@input_source, :remote => true) do |f| %>
    <%= f.semantic_errors :matching %>
    <%= f.inputs do %>
      <%= f.input :republished_feed_id, :as => :hidden %>
      <%= f.input :item_source_id, :as => :hidden %>
      <%= f.input :item_source_type, :as => :hidden %>
      
      <li class="input">
        <label class="label">Selected source</label>
        <%= render 'shared/line_items/input_source', :input_source => @input_source, :hub => @input_source.republished_feed.hub %>
      </li>

      <%= f.input :matching, :collection => InputSource::MATCHINGS, :hint => '"Any" means that this input source will be searched for using the boolean OR statement. "All" means that this input source will be searched for using the boolean AND statement.' %>
      <%= f.input :effect, :collection => InputSource::EFFECTS, :hint => '"Add" means this input source adds its items to this republished feed. "Remove" means this input source is used to remove items it matches.' %>
      <%= f.input :limit, :hint => 'How many maximum items to pull from this source?'  %>
    <% end %>
    <%= f.actions %>
  <% end %>
</div>

<div class="grid_8 omega">
  <div id="ajax_item_source_results">
  </div>
</div>
<div class="clear"></div>
<%=  javascript_tag do
  raw %q@
  $().ready(function(){
    var observeItemSource = function(){
    var search_in = [];
    $('input[name*="search_in"]').filter(':checked').each(function(){search_in.push($(this).val())});
     $.ajax({
      cache: false,
      type: 'GET',
      url: $.rootPath() + 'input_sources/find',
      data: {
        q: $('#ajax_item_source').val(), 
        republished_feed_id: $('#input_source_republished_feed_id').val(),
        search_in: search_in
      },
      beforeSend: function(){
        $.showSpinner('#spinner');
      },
      success: function(html){
        $('#ajax_item_source_results').html(html);
      },
      complete: function(){
        $.hideSpinner('#spinner');
      }
     });
    };
    $('#ajax_item_source').observe_field(1, observeItemSource);
    $('input[name*="search_in"]').change(observeItemSource);
    $('#item_source_remove').bind({
      mouseover: function(){
        $(this).css('cursor', 'pointer');
      },
      click: function(){
        $('#input_source_item_source_type').val('');
        $('#input_source_item_source_id').val('');
        $('#ajax_item_source_selection').html('');
        $('#item_source_remove').hide();
      }
    });
    $('.add_item_source').live({
      mouseover: function(){
        $(this).css('cursor', 'pointer');
      },
      click: function(){
        console.log('EL: ' + $(this).attr('id'));
        var itemSource = $(this).attr('id').split('-');
        $('#input_source_item_source_type').val(itemSource[0]);
        $('#input_source_item_source_id').val(itemSource[1]);
        $('#ajax_item_source_selection').html($('#' + $(this).attr('id') + '-link').clone());
        $('#item_source_remove').show();
      }
    });
  });
  @;
end %>
